<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-if='v==12' v-for='(v,k,i) in obj'>{{v+'------'+k+'------'+i}}</div>
        <div v-if='i==2' v-for='(v,k,i) in obj'>{{v+'------'+k+'------'+i}}</div>
    </div>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript">
        // 使用原生js遍历对象
        var obj = {
            uname: 'lisi',
            age: 12,
            genderl: 'male'
        }
        for (var key in obj) {
            console.log(key, obj[key]);
        }
        // 循环结构
        var vm = new Vue({
            el: '#app',
            data: {},
            methods: {
                handle: function() {

                }

            }
        })
    </script>
</body>

</html>